*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.navContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: #0f1452;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.4);
  }

  .linksContainer {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
  
    &:hover {
      font-weight: 500;
    }
  
  }

  .logo {
    width: 12rem;
    padding: .7rem 0 .7rem 0;
  }